CODEF_DEMO_CLIENT_ID=
CODEF_DEMO_CLIENT_SECRET=
CODEF_CLIENT_ID=
CODEF_CLIENT_SECRET=
CODEF_PUBLIC_KEY=

CODEF_CONNECTED_ID=
BIRTH_DATE=
ORDER_BY=0
IBK_ACCOUNT=
IBK_ACCOUNT_PASSWORD=
SAMSUNG_CARD_ID=
SAMSUNG_CARD_PASSWORD=
